# Discord Bot Configuration
DISCORD_TOKEN=your_bot_token_here
CLIENT_ID=your_application_client_id_here
GUILD_ID=your_server_guild_id_here

# Sesepuh Config
SESEPUH_ROLE_ID=role_id_yang_punya_akses_sesepuh
BLESS_ROLE_ID=role_id_untuk_buff_sementara
LOG_CHANNEL_ID=channel_id_untuk_log_aktivitas
MISKIN_ROLE_ID=role_id_hukuman_untuk_yang_telat_masuk_vc
LOSER_GIF_URL=https://media.tenor.com/ltj4jJkZ8dAAAAAC/you-lose-loser.gif
